// Variables

// Fonts

$font-base: 'Helvetica Neue', Helvetica, Ariel, sans-serif;

// Media Queries

$breakpoint-sm: '(min-width:480px)';
$breakpoint-md: '(min-width: 768px)';
$breakpoint-lg: '(min-width: 1400px)';