/* ============================================= */
/*              Colors                           */
/* ============================================= */

$white: #fff;
$primary: #58e1c1;

$default:#51ddfc;
$error:#e4757a;
$info:#927bc1;
$success:#63cc82;
$warning:#fd7856;

$main-font-color:#777;

/* ============================================= */
/*              Fonts                            */
/* ============================================= */

$font-base: 'Lato', sans-serif;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$break-sm: '(min-width: 480px)';
$break-md: '(min-width: 768px)';
$break-lg: '(min-width: 1400px)';