/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
  @include mq(md) {
    padding: 10px 30px;
    & + .btn {
      margin-left: 10px;
    }
  }
}

.default {
  @include btn-hover-fade($default);
}

.error {
  @include btn-hover-fade($error);
}

.info {
  @include btn-hover-fade($info);
}

.success {
  @include btn-hover-fade($success);
}

.warning {
  @include btn-hover-fade($warning);
}